[Unit]
Description=RFLinkGateway
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/pi/RFLinkGateway
# Set correct path
ExecStart=/usr/bin/python3 /home/pi/RFLinkGateway/RFLinkGateway.py
User=pi

[Install]
WantedBy=multi-user.target
